:root{

    --brigth-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);

    --dark-graysh-blue: hsl(227, 12%, 61%);
    --bery-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --background-slide: #f1f2f6;

}

body{
    font-family: 'Be Vietnam';
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.main{
    width: 98.9vw;
    display: flex;
    flex-direction: column;
    background: url("./images/bg-tablet-pattern.svg") no-repeat;
    background-position: top -17rem right -11rem;
    
}

.header{
    /*flex: 1;*/
    display: flex;
    flex-direction: row;
    padding: 30px;
    /*background-color: violet;*/
    height: 80px;
    padding-right: 11rem;
}

.logo{
    flex: 1;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.menu{
    flex: 4;
    display: flex;
    justify-content: center;
    
}

.menu nav{
    margin-top: 5px;
}

.menu nav a{
    cursor: pointer;
    color: var(--dark-blue);
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.menu nav a:hover :link :visited :active{
    color: var(--dark-blue);
}

.getstarted{
    flex: 1;
    justify-content: center;
    text-align: center;
}

.primary-button{
    width: 8rem;
    height: 2.5rem;
    border-radius: 5rem;
    cursor: pointer;
    background-color: var(--brigth-red);
    border: none;
    color: white;
    box-shadow: 0px 3px 5px var(--brigth-red);
    transition: all 0.3s ease 0s;
    font-size: 13px;
    font-weight: 700;
}

.primary-button:hover{
    box-shadow: 0px 5px 10px var(--brigth-red);
    color: #fff;
    transform: translateY(-5px);
}

.secondary-button{
    width: 8rem;
    height: 2.5rem;
    border-radius: 5rem;
    cursor: pointer;
    background-color: white;
    border: none;
    color: var(--brigth-red);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s ease 0s;
    font-size: 13px;
    font-weight: 700;
}

.secondary-button:hover{
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.23);
    transform: translateY(-5px);
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-right: 6rem;
}

.general{
    
    display: flex;
    flex-direction: row;
}

.general-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.general-text div h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    color: var(--dark-blue);
}

.general-text div button{
    margin-top: 15px;
}

.general-text div span {
    color: var(--dark-graysh-blue);
}

.general-chart{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-chart img{
    height: 450px;
}

.middle{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.middle-left{
    flex: 1;
}
.middle-left h2{
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-blue);
    margin: 0;
    padding: 0;
}

.middle-left span{
    color: var(--dark-graysh-blue);
}

.middle-right{
    flex: 1;
}
.enum-container{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-bottom: 20px;
}

.enumerator {
    background-color: var(--brigth-red);
    border-radius: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 33px;
    margin-top: 10px;
}

.enumerator span{
    color: white;
    font-weight: 700;
}

.enum-text{
    padding: 10px;
    margin-left: 20px;
}

.enum-text h3{
    padding: 0;
    margin: 0px 0px 10px 0px;
    color: var(--dark-blue);
}

.enum-text span{
    padding: 0;
    margin: 0;
    color: var(--dark-graysh-blue);
}

.main-carousel{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
}
.main-carousel h2{
    justify-items: center;
    flex: 1;
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-blue);
}

.main-carousel button{
    margin-bottom: 10rem;
}

.swiper-container{
    width: 100%;
}

.swiper-wrapper{

}

.swiper-slide {
    text-align: center;
    margin-bottom: 2.5rem;
    cursor: grabbing;
    height: 270px;
    background: var(--very-light-gray);
    background: linear-gradient(0deg,  var(--very-light-gray) 90%, rgba(255,255,255,1) 80%);
    position: relative;
    overflow: hidden;
  }

.swiper-slide img{
    border-radius: 1rem;
    height: 5rem;
    z-index: 500;
    
}

.pre-footer{
    width: 98.9vw;
    min-height: 200px;
    background-color: var(--brigth-red);
}

.footer{
    width: 98.9vw;
    min-height: 200px;
    background-color: var(--bery-dark-blue);
}